<h1 mat-dialog-title>Edit Task</h1>

<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="task-form">
    <mat-form-field appearance="fill">
        <mat-label>Task Name</mat-label>
        <input matInput formControlName="taskName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
            <mat-option value="pending">Pending</mat-option>
            <mat-option value="in-progress">In Progress</mat-option>
            <mat-option value="completed">Completed</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Image URL</mat-label>
        <input matInput formControlName="image">
    </mat-form-field>

    <mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" >Save</button>
        <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>
</form>
